/*? global clearing */
*,
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.board {
    background-image: url("Images/Background8.png");
    background-size: cover;
    width: 100%;
    height: 100vh;
    display: grid;
    grid-template: repeat(15, 1fr) / repeat(15, 1fr) /* y - x */
}

#title__1 {
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
    color: white;
}

.board .food {
    background: url('Images/fish.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}

.board .player {
    background: url('Images/KucingDefault.png');
    background-position: top center;
    background-size: contain;
    background-repeat: no-repeat;
}


.btn-danger {
    opacity: 1;
    position: absolute;
    bottom: 0;
    margin-bottom: 2%;
    margin-left: 2%;
    background-color: red;
    color: white;
    font-weight: bold;
}

.stats {
    text-align: justify;
}

.eat-status {
    opacity: 1;
    position: absolute;
    top: 0;
    margin-right: 10%;
    color: white;
    right: 0;
}

.progress {
    height: 30px;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}

#score {
    font-size: 24px;
    text-align: center;
    padding: 10px;
    background-image: url(Images/Background8.png);
}

.stats {
    padding-left: 35px;
  }

.btn {
  width: 60px;
}

.hide {
    display: none;
}
  