@font-face {
    font-family: "GoldenSmile";
    src: url('Fonts/GoldenSmile.otf'); 
    src: url('Fonts/GoldenSmile?#iefix') format('embedded-opentype'), 
         url('Fonts/GoldenSmile.woff') format('woff'), 
         url('Fonts/GoldenSmile.ttf')  format('truetype'), 
         url('Fonts/GoldenSmile.svg#svgFontName') format('svg');
  }
  

body {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

.navbar {
    background: none;
}

.navbar img {
    width: 100px;
}

.navbar h6 {
    color:rgb(224, 249, 255);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-top: -20px;
}

#page-content {
    background-image: url("Images/Background7.jpg");
    background-size: cover;
}

h4#header {
    font-size: 40px;
    font-family: "GoldenSmile";
    color:rgb(0, 93, 85);
    margin-top: 4%;
    margin-bottom: 5%;
    text-shadow: rgb(0, 0, 0) 3px 2px 0px;
}

.carousel-item img{
    height: 250px;
    margin-bottom: 50px;
}

.input-name {
    text-align: center;
}
  
.name-field {
    width: 250px;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid #787878;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
}

#name{
    font-weight: bold;
    color: rgb(213, 213, 213);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;
}

input[type="text"] {
    width: 250px;
    padding-top: 3px;
    padding-bottom: 5px;
    text-align: center;
    font-weight: bold;
    color:rgb(20, 79, 98)
}

.btn-play {
    font-family:Arial b, Helvetica, sans-serif;
    margin-top: 2%;
    margin-bottom: 8%;
	background-color: #d6c5fd;
	border-radius: 16px;
	color: #072d6a;
	font-weight: bolder;
	transition: 0.2s;
    text-shadow: 2px 2px 0 rgba(69, 69, 69, 0.178);
    font-size: 1.1rem;
    letter-spacing: 0.2em;
    box-shadow: inset 2px 2px 0 rgb(232, 225, 239),
                inset -2px -2px 0 rgb(122, 70, 170);
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.btn-play:hover {
	background-color: #d0fecc;
	border: 2px solid #272528;
	color: #d64ca8;
    text-shadow: rgba(69, 69, 69, 0.064);
    box-shadow: inset 2px 2px 0 rgb(228, 239, 225),
    inset -2px -2px 0 rgb(80, 174, 101);
	transition: 0.2s;
}

/* Tampilan selanjutnya */
#game-content {
    background-image: url("Images/Morning.jpg");
    background-size: cover;
}

#pet-avatar {
    margin-top: 50px; 
}
  
#selected-avatar {
   width: 150px;
   height: 150px;
}
  
#pet-name {
    margin-top: 20px;
}
  
#status-bar {
    margin-top: 50px;
}
  
.status-item {
    margin-left: 30px;
    margin-right: 30px;
    text-align: center;
}
  
.status-item p {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
}
  
.progress {
    height: 30px;
    border-radius: 20px;
    background-color: #eee;
    position: relative;
    overflow: hidden;
}
  
.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    transition: width 0.5s ease-in-out;
}

#greeting {
    color: #eee;
    font-size: 24px;
    font-weight: bold;
    text-transform: capitalize;
}

#time {
    color: #eee;
    font-size: 36px;
    font-weight: 700;
}
